<head><%=title %></head>
<form method="post" action="update">
    <input type="hidden" name="id" value="<%=flower.id%>"><br/>
    Nume: <input type="text" name="nume" value="<%=flower.nume%>"><br/>
    Culoare: <input type="text" name="culoare" value="<%=flower.culoare%>"><br/>
    Marime: <input type="text" name="marime" value="<%=flower.marime%>"><br/>
    Pret: <input type="text" name="pret" value="<%=flower.pret%>"><br/>
    <input type="submit" value="Update flower">
</form>